*{
    margin: 0;
    padding: 0;
    background-image: linear-gradient(rgba(219, 216, 216, 0.4) ,rgba(224, 223, 223, 0.4) ),url('../images/p-6.jpg');
    background-repeat: no-repeat;
    background-position: center center;
}

.content{
    min-height: 100vh;
    background-image: url('../images/3.jpg');
    background-position: center center;
    background-size: cover;
    text-align: center;
    padding-top: 80px;
}
.content h1{
    font-size: 100px;

}
.content .tittle{
    font-size: 50px;
    padding-block: 70px;
}
.content button{
    padding: 25px 60px;
    font-size: 30px;
    transition: all 0.5s;
}
.content button:hover{
    color: cornflowerblue;
    background-color: rgb(255, 238, 55);
}
.content .quote , .content .author {
    font-size: 50px;
    padding-block: 20px;  
}